{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<body>
<form action="{{ url_for('add') }}" method="POST" role="form">

  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="asd123"><br>

  <label for="amount">Amount:</label><br>
  <input type="text" id="amount" name="amount" value="dfg654"><br>

    <label for="user_id">User ID:</label><br>
  <input type="text" id="user_id" name="user_id" value={{ current_user }}><br>

  <input type="submit" value="Submit">

</form>
</body>
{% endblock %}