{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<body>
<form action="{{ url_for('add') }}" method="POST" role="form">

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="asd123"><br>

    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount" value="dfg654"><br>

    <label for="user_id">User ID:</label><br>
    <input type="text" id="user_id" name="user_id" value={{ current_user }}><br>

    <input type="submit" value="Submit">
</form>


<table class="table table-bordered ">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Time</th>
    </tr>
    {% for expenses in exp %}
    <tr>
        <td>{{ expenses.id }} </a></td>
        <td>{{ expenses.name }}</td>
        <td>{{ expenses.amount }}</td>
        <td>{{ expenses.timestamp }}</td>
    </tr>
    {% endfor %}
    </thead>
</table>
</body>

{% endblock %}