{% extends "base.html" %}

{% block app_content %}
<body>
    <h1>Add new expense record</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}
        </p>

        <p>{{ form.exorin() }}</p>

        <p>{{ form.add() }}</p>
    </form>


<table class="table table-sm ">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Record type</th>
        <th>User ID</th>
        <th>Time</th>
    </tr>
    {% for expenses in exp if 'Car' in expenses.name %}
    <tr>
        <td>{{ expenses.id }} </a></td>
        <td>{{ expenses.name }}</td>
        <td>{{ expenses.amount }}</td>
        <td>{{ expenses.exorin }}</td>
        <td>{{ expenses.user_id }}</td>
        <td>{{ expenses.timestamp }}</td>
    </tr>
    {% endfor %}

    {{summary}}
    </thead>
</table>
</body>
{% endblock %}