<!--<html>-->
<!--    <head>-->
<!--        {% if title %}-->
<!--        <title>{{ title }} - Budget planner app</title>-->
<!--        {% else %}-->
<!--        <title>Welcome to Budget planner</title>-->
<!--        {% endif %}-->
<!--    </head>-->
<!--    <body>-->
<!--&lt;!&ndash;        Menu:&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="/index">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="/login">Login</a>&ndash;&gt;-->
<!--        </div>-->
<!--        <hr>-->
        {% extends "base.html" %}
        {% block app_content %}
            <h1>Hi, {{ current_user.username }}!</h1>
            This is HOMEPAGE
<!--            {% for post in posts %}-->
<!--            <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>-->
<!--            {% endfor %}-->
        {% endblock %}

            <h1>Hi, {{ user.username }}!</h1>
        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
    </body>
</html>