<html>
    <head>
        {% if title %}
        <title>{{ title }} - Budget planner app</title>
        {% else %}
        <title>Welcome to Budget planner</title>
        {% endif %}
    </head>
    <body>
        Menu:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% block content %}{% endblock %}

            <h1>Hi, {{ user.username }}!</h1>
        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
    </body>
</html>