<!--&lt;!&ndash;{% block content %}&ndash;&gt;-->
<!--{% for table in tables %}-->
<!--            {{titles[loop.index]}}-->
<!--            {{ table|safe }}-->
<!--{% endfor %}-->
<!--&lt;!&ndash;{% endblock %}&ndash;&gt;-->

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<body>

<h2>Table</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>{{ expenses.id }}</td>
    <td>{{ expenses.name }}</td>
    <td>{{ amount }}</td>
    <td>{{ expenses.timestamp }}</td>
  </tr>
</table>

</body>
{% endblock %}